body{
    padding: 0;
    margin: 0;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
}
.btn {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 30px;
    color:white;
    border-radius: 20px;
    background-image: linear-gradient(rgb(194, 43, 43),rgb(150, 100, 87));
}
#header-area{
    width:100%;
    background-color: rgb(214, 214, 214);
}
.main-header{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.main-header .left-header{
    width: 30%;
}
.main-header .right-header{
    width: 70%;
    text-align: right;
    margin: auto 0;
    
}
.main-header .right-header ul{
    display: inline-block;
}
.main-header .right-header ul li{
    display: inline-block;
    text-align: right;

}
.main-header .right-header ul li a{
    text-decoration: none;
    text-align: right;
    padding: 12px 25px;
    font-size: 20px;
    color: black;

}
.main-header .right-header ul li a:hover{
    color: red;

}
                /* end header */

#offer-area{
    width: 100%;
    background-image: url(images/shapes/bgpizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.pizza-offer{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.pizza-offer .left-area{
    width: 50%;
    margin: auto 0;  
}
.pizza-offer .right-area{
    width: 50%;
}


.main-area{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.main-area .left-area{
    width: 50%;
    margin: auto 0;
}
.main-area .left-area p{
    padding-bottom: 20px;
}
.main-area .right-area{
    width:50%;
}
.heading-color {
    color:red;
}
.right-area img{
    width: 90%;
    position: right;
}
                    /* end .main-area */

#about-area{
    width: 100%;
    padding: 10px 0;
    background-image: url(images/shapes/aboutimages.png);
    background-repeat: no-repeat;
}
.aboutus-area{
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: 500px;
}

.aboutus-area .left-area{
    width: 50%;

    
}
.aboutus-area .left-area img{
    width: 60%;
    position: relative;
    height: 100%;
    margin-left: 20%;
    

}
.aboutus-area .right-area{
    width: 50%;
    margin: auto 0;
}
.aboutus-area .right-area p{
    margin-top: 20px;
    padding-bottom: 40px;
    margin-right: 30%;
}
.aboutus-area .right-area h2{
    font-size: 40px;
}


            /* end .aboutus-area */

#blog-area{
    width: 100;
    text-align: center;
}
.blog-post{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.blog-post .text-box {
    width: 33.33%;
    height: 300px;
    background-color: white;
    margin: 10px;
    box-shadow: 0px 5px 22px 1px rgb(202 188 202);
    border-radius: 10px;
    padding: 2%;
    border: 1px rgb(216, 216, 216);
    text-align: left;
}
.blog-post .text-box img{
    width: 100%;
    height: 60%;
    border-radius: 5px;
}

            /* end blog */


#countdown-area {
    width: 100%;
    padding: 4% 0;
}
.count-area {
    width: 90%;
    margin: 0 auto;
    display: flex;
    box-shadow: 5px 5px 10px rgb(29, 26, 26);
    border-radius: 10px;
}
.count-area .count-box{
    width: 33%;
    text-align: center;
}


.footer-area{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0;
}

}
.footer-area p{
    font-size: 16px;
    margin: 0px;
    color: blanchedalmond;
}
.footer-area h3{
    padding: 1px 1px 1px 1px;
    margin: 0px;
    font-size: 25px;

}
.footer-color{
    color:red;
}